&lt;ul class=&quot;tutorial-request-list&quot;&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
    &lt;li&gt;{{&gt;molecules-tutorial-request-list-item}}&lt;/li&gt;
&lt;/ul&gt;

&lt;section class=&quot;load-more&quot;&gt;
    &lt;button class=&quot;btn btn-primary&quot;&gt;Load More&lt;/button&gt;
&lt;/section&gt;