&lt;div class=&quot;user&quot;&gt;
    &lt;div class=&quot;body&quot;&gt;
        &lt;div class=&quot;avatar-container&quot;&gt;{{&gt; atoms-avatar }}&lt;/div&gt;
        &lt;div class=&quot;meta&quot;&gt;
            &lt;div class=&quot;user-name&quot;&gt;&lt;a href=&quot;#&quot;&gt;Mr Lorem&lt;/a&gt;&lt;/div&gt;
            &lt;div class=&quot;timestamp&quot;&gt;20 days ago.&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;