&lt;!-- Begin .categorybar --&gt;
&lt;header class=&quot;categorybar&quot;&gt;
    &lt;div class=&quot;content cf&quot;&gt;
        &lt;ul&gt;
            &lt;li&gt;
                &lt;button&gt;Apps&lt;/button&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;button&gt;Gaming&lt;/button&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;button&gt;Game Development&lt;/button&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;button&gt;Web Development&lt;/button&gt;
            &lt;/li&gt;
            &lt;li class=&quot;static&quot;&gt;
                &lt;button class=&quot;static&quot;&gt;All&lt;/button&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .categorybar --&gt;