<div>
    <!-- Begin .header -->
    <header class="header" role="banner">
        <div class="content cf">
            {{> atoms-logo }}
            <a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
            {{> molecules-primary-nav }}
        </div>
    </header>
    <div class="layout">
        {{>organisms-categorybar}}
        {{>organisms-sidebar}}
    </div>
    <div class="main-content-container cf">
        <div class="main-content content-tut-request">
            {{>organisms-tutorial-request}}
            {{>organisms-tutorial-solution-list}}
        </div>
    </div>
    {{>organisms-tutorial-solution-form}}
</div>
<style>
    .sidebar {
        /* js will normally determine height in prod */
        height: 7200px;
    }
</style>