&lt;form class=&quot;solution-form&quot;&gt;
    &lt;fieldset&gt;
        &lt;section&gt;
        &lt;legend&gt;Submit Tutorial&lt;/legend&gt;
        &lt;p&gt;Fill out the fields below to share your tutorial request.&lt;/p&gt;
        &lt;input type=&quot;url&quot; placeholder=&quot;Enter URL to tutorial&quot;/&gt;
        &lt;textarea placeholder=&quot;Provide a description of your tutorial&quot; rows=&quot;5&quot;&gt;&lt;/textarea&gt;
        &lt;/section&gt;
    &lt;/fieldset&gt;
    &lt;footer&gt;
        &lt;section&gt;
        &lt;input class=&quot;btn btn-white&quot; type=&quot;submit&quot; value=&quot;Submit&quot;/&gt;
        &lt;/section&gt;
    &lt;/footer&gt;

&lt;/form&gt;