<!-- Begin .header -->
<header class="header" role="banner">
    <div class="content cf">
    	{{> atoms-logo }}
	    <a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	    {{> molecules-primary-nav }}
    </div>
</header>
<!-- End .header -->