<!-- Begin .categorybar -->
<header class="categorybar">
    <div class="content cf">
        <ul>
            <li>
                <button>Apps</button>
            </li>
            <li>
                <button>Gaming</button>
            </li>
            <li>
                <button>Game Development</button>
            </li>
            <li>
                <button>Web Development</button>
            </li>
            <li class="static">
                <button class="static">All</button>
            </li>
        </ul>
    </div>
</header>
<!-- End .categorybar -->