<aside class="sidebar">
    <section class="content">
        <div class="widget share">
            <header><h4><span class="icon ion-android-share-alt blue"></span>Share</h4></header>
            <section class="widget-body">
                <button class="btn btn-share facebook"><span class="icon ion-social-facebook"></span></button>
                <button class="btn btn-share twitter"><span class="icon ion-social-twitter"></span></button>
                <button class="btn btn-share email"><span class="icon ion-email"></span></button>
            </section>
        </div>
        <div class="widget activity-stream">
            <header>
                <h4><span class="icon ion-ios-pulse-strong blue"></span>Activity Stream</h4>
            </header>
            <section class="widget-body">
                <ul>
                    <li><span class="icon ion-chevron-down down"></span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus dapibus urna quis posuere. </p></li>
                    <li><span class="icon ion-ios-chatboxes-outline blue"></span><p>Phasellus pulvinar magna a massa maximus imperdiet. Sed sed sagittis eros, vel cursus neque. In sodales ipsum id turpis viverra, et venenatis diam tincidunt.</p></li>
                    <li><span class="icon ion-chevron-up up"></span><p>Maecenas justo odio, tempus sed velit sed, mattis fermentum lorem. Sed placerat nisi vitae ante blandit, et volutpat massa cursus. </p></li>
                    <li><span class="icon ion-document blue"></span><p>onec nunc ipsum, laoreet non velit non, lobortis pellentesque felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ultricies neque eu arcu tincidunt, eu venenatis orci cursus.</p></li>
                </ul>
            </section>
        </div>
    </section>
</aside>

