&lt;ul class=&quot;tutorial-solution-list&quot;&gt;
    &lt;li&gt;{{&gt;organisms-tutorial-solution}}&lt;/li&gt;
    &lt;li&gt;{{&gt;organisms-tutorial-solution}}&lt;/li&gt;
    &lt;li&gt;{{&gt;organisms-tutorial-solution}}&lt;/li&gt;
    &lt;li&gt;{{&gt;organisms-tutorial-solution}}&lt;/li&gt;
&lt;/ul&gt;

