<div class="tabs">
	<ul class="tab-list">
		<li><a href="{{ url }}" class="active">Latest</a></li>
		<li><a href="{{ url }}">Most Wanted</a></li>
		<li><a href="{{ url }}">Best Tutorials</a></li>
	</ul>
</div>