&lt;div&gt;
    &lt;!-- Begin .header --&gt;
    &lt;header class=&quot;header&quot; role=&quot;banner&quot;&gt;
        &lt;div class=&quot;content cf&quot;&gt;
            {{&gt; atoms-logo }}
            &lt;a href=&quot;#nav&quot; class=&quot;nav-toggle nav-toggle-menu icon-menu&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
            {{&gt; molecules-primary-nav }}
        &lt;/div&gt;
    &lt;/header&gt;
    &lt;div class=&quot;layout&quot;&gt;
        {{&gt;organisms-categorybar}}
        {{&gt;organisms-sidebar}}
    &lt;/div&gt;
    &lt;div class=&quot;main-content-container cf&quot;&gt;
        &lt;div class=&quot;main-content content-tut-request&quot;&gt;
            {{&gt;organisms-tutorial-request}}
            {{&gt;organisms-tutorial-solution-list}}
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- End .header --&gt;