&lt;section class=&quot;comments&quot;&gt;
    &lt;header&gt;
        &lt;h4&gt;&lt;span class=&quot;icon ion-chatbubbles&quot;&gt;&lt;/span&gt;Comments&lt;/h4&gt;
    &lt;/header&gt;
    &lt;ul class=&quot;comment-zone&quot;&gt;
        &lt;li&gt;{{&gt;molecules-single-comment}}&lt;/li&gt;
        &lt;li&gt;{{&gt;molecules-single-comment}}&lt;/li&gt;
        &lt;li&gt;{{&gt;molecules-single-comment}}&lt;/li&gt;
        &lt;li&gt;{{&gt;molecules-single-comment}}&lt;/li&gt;
        &lt;li&gt;{{&gt;molecules-single-comment}}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/section&gt;