&lt;div class=&quot;vote vote-lg&quot;&gt;
    &lt;button class=&quot;up&quot;&gt;
        &lt;span class=&quot;icon ion-chevron-up&quot;&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;span class=&quot;score&quot;&gt;200&lt;/span&gt;
    &lt;button class=&quot;down&quot;&gt;
        &lt;span class=&quot;icon ion-chevron-down&quot;&gt;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;