<div class="user">
    <div class="body">
        <div class="avatar-container">{{> atoms-avatar }}</div>
        <div class="meta">
            <div class="user-name"><a href="#">Mr Lorem</a></div>
            <div class="timestamp">20 days ago.</div>
        </div>
    </div>
</div>