<div class="vote vote-lg">
    <button class="up">
        <span class="icon ion-chevron-up"></span>
    </button>
    <span class="score">200</span>
    <button class="down">
        <span class="icon ion-chevron-down"></span>
    </button>
</div>