
<section class="tut-request-item">
    <div class="content">
        <div class="vote-cell">
            {{> molecules-vote }}
        </div>
        <div class="content-cell">
            <section class="title">
                <p>onec nunc ipsum, laoreet non velit non, lobortis pellentesque felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ultricies neque eu arcu tincidunt, eu venenatis orci cursus.</p>
            </section>
            <section class="meta">
                {{> molecules-user-meta}}
            </section>
            {{> molecules-tag-list}}
        </div>
    </div>
    <div class="divider">
    </div>
    <div class="response-count">
        <button class="btn btn-primary">
            <span class="icon ion-chatboxes"></span>&nbsp; <span>10 Tutorials</span>
        </button>
    </div>

</section>
