
<section class="tut-request-detail">
    <section class="title">
        <h2>onec nunc ipsum, laoreet non velit non, lobortis pellentesque felis. Cum sociis natoque penatibus et magnis dis?</h2>
    </section>
    <div class="content">
        <div class="vote-cell">
            {{> molecules-vote-lg }}
        </div>
        <div class="content-cell">
            <section class="body">
                <h1>Some title</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                </ul>
                <h3>Some other title</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            </section>
            <section class="meta">
                {{> molecules-user-meta}}
            </section>
            {{> molecules-tag-list}}
        </div>
    </div>
    <footer>
        {{> organisms-comment-list}}
    </footer>
</section>
