<section class="comments">
    <header>
        <h4><span class="icon ion-chatbubbles"></span>Comments</h4>
    </header>
    <ul class="comment-zone">
        <li>{{>molecules-single-comment}}</li>
        <li>{{>molecules-single-comment}}</li>
        <li>{{>molecules-single-comment}}</li>
        <li>{{>molecules-single-comment}}</li>
        <li>{{>molecules-single-comment}}</li>
    </ul>
</section>