<ul class="tutorial-solution-list">
    <li>{{>organisms-tutorial-solution}}</li>
    <li>{{>organisms-tutorial-solution}}</li>
    <li>{{>organisms-tutorial-solution}}</li>
    <li>{{>organisms-tutorial-solution}}</li>
</ul>

