<form class="solution-form">
    <fieldset>
        <section>
        <legend>Submit Tutorial</legend>
        <p>Fill out the fields below to share your tutorial request.</p>
        <input type="url" placeholder="Enter URL to tutorial"/>
        <textarea placeholder="Provide a description of your tutorial" rows="5"></textarea>
        </section>
    </fieldset>
    <footer>
        <section>
        <input class="btn btn-white" type="submit" value="Submit"/>
        </section>
    </footer>

</form>