
&lt;section class=&quot;tut-solution-detail&quot;&gt;
    &lt;section class=&quot;title&quot;&gt;
        &lt;h2&gt;&lt;span class=&quot;icon ion-android-open&quot;&gt;&lt;/span&gt;Over 200 CSS / HTML Tricks&lt;/h2&gt;
    &lt;/section&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;div class=&quot;vote-cell&quot;&gt;
            {{&gt; molecules-vote-lg }}
        &lt;/div&gt;
        &lt;div class=&quot;content-cell&quot;&gt;
            &lt;section class=&quot;link-meta&quot;&gt;
                &lt;div class=&quot;image&quot; style=&quot;background-image: url(http://lorempixel.com/800/600/nature);&quot;&gt;
                    &lt;div class=&quot;foreground&quot;&gt;
                        &lt;p class=&quot;description&quot;&gt;Ei sea eros inermis epicuri, nec ei commodo neglegentur concludaturque. Pri quot luptatum liberavisse et, his solum pericula explicari id. An essent concludaturque sed&lt;/p&gt;
                        &lt;footer&gt;
                            &lt;button class=&quot;btn btn-primary&quot;&gt;Get it&lt;/button&gt;
                        &lt;/footer&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/section&gt;
            &lt;hr/&gt;
            &lt;section class=&quot;body&quot;&gt;
                &lt;p&gt;Donec eu libero sit amet quam egestas semperlaoreet non velit non, oin lobortis pellentesque felis... Aenean ultricies mi vitae est. Mauris placerat eleifend leo.&lt;/p&gt;
                &lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.&lt;/p&gt;
            &lt;/section&gt;
            &lt;section class=&quot;meta&quot;&gt;
                {{&gt; molecules-user-meta}}
            &lt;/section&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;footer&gt;
        {{&gt; organisms-comment-list}}
    &lt;/footer&gt;
&lt;/section&gt;