<div class="comment">
    <header class="comment-heading">
        <h4><span class="comment-author">Mr Ipsum</span>
            &nbsp;
            <button><span class="icon ion-flag"></span></button>
        </h4>
    </header>
    <section class="comment-body">
        This is a comment
    </section>
    <footer class="comment-footer">
        <div class="vote-section">
            <button><span class="icon ion-chevron-up"></span></button>
            <span class="score">20</span>
        </div>
        <div class="share-section">
            <button><span class="icon ion-share"></span></button>
        </div>
    </footer>
</div>