
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #4374f4;"></span>
		<span class="sg-label">$blue</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #282828;"></span>
		<span class="sg-label">$dark</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eee;"></span>
		<span class="sg-label">$light-grey</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ec4f4f;"></span>
		<span class="sg-label">$red</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5fbf6a;"></span>
		<span class="sg-label">$green</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f7982e;"></span>
		<span class="sg-label">$yellow</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff00a2;"></span>
		<span class="sg-label">$pink</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f8f8f8;"></span>
		<span class="sg-label">$sidebar</span>
	</li>
    <li>
        <span class="sg-swatch" style="background: #fff;"></span>
        <span class="sg-label">$white</span>
    </li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>